<div class="container text-center">
  <p>{{ title }}</p>

  <div class="row">
    <div class="h3 mt-3">this is component in footer</div>
    <div class="col">
      <div class="d-flex text-center gap-3">
        <!-- property binding  -->
        <!-- first btn binding using string interpulation  -->
        <!-- it mean it converted to string value and show in the browser so it will not working-->
        <button class="btn btn-success" disabled="{{ isdisibled }}">
          click here
        </button>
        <!-- second btn is using property binding -->
        <button class="btn btn-danger" [disabled]="isdisibled">
          click here
        </button>
      </div>
    </div>
    <div class="col">
      <!-- Class binding is variabel dynamically add or remove element  -->
      <!-- when have a lots of class like the example below is not a good pratice -->
      <button
        class="btn text-white"
        [class.active]="isActive"
        [class.no-active]="!isActive"
      >
        class binding
      </button>
    </div>

    <div class="col">
      <!-- string value binding -->
      <button [class.apple]="fruitName == 'apple'">string value</button>
    </div>

    <div class="col">
      <!-- style binding -->
      <button
        class="text-white border border-0 btn"
        [style.background]="isActive ? 'green' : 'red'"
      >
        <!-- background is DOM style property -->
        style binding
      </button>
    </div>
  </div>
</div>
<!-- between class binding and  style binding -->
<!-- class binding it can apply css class -->
<!-- style binding it can apply only css property -->
