.active {
  background-color: green;
  text-transform: capitalize;
}
.no-active {
  background-color: lightcoral;
}
.active-border {
  border: 2px solid #000;
}
.active-display {
  display: none;
}
.apple {
  background-color: green;
  border: 2px solid lightcoral;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
}
