<footer></footer>

<!-- Event binding -->
<button class="btn" (click)="buttonClick()">click me</button>
<!-- <input type="text" (keyup)="keyenter($event)" /> -->
<!-- just Enter key can have event with (keyup.enter) -->
<!-- <input type="text" (keyup.enter)="keyupFiltering()" /> -->
<!-- <input type="text" (keyup.enter)="keyupFiltering(user)" #user id="userinput" /> -->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="enter filter"
          (keyup.enter)="keyupFiltering(user)"
          #user
          id="userinput"
        />
      </div>
    </div>

    <div class="col">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="enter up"
          (keyup)="keyenter($event)"
        />
      </div>
    </div>

    <div class="col">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="enter value" />
      </div>
    </div>
  </div>
</div>
